---
import Images from "./Images.astro";
import Front01 from "../images/works/Desktop_1_1.png";
import Front02 from "../images/works/Desktop_2_2.png";
import Front03 from "../images/works/Desktop_3_3.png";
import Front01Mobile from "../images/works/Mobile_1_1.png";
import Front02Mobile from "../images/works/Mobile_2_2.png";
import Front03Mobile from "../images/works/Mobile_3_3.png";
import Event01 from '../images/works/Desktop_1.png'
import Event02 from '../images/works/Desktop_2.png'
import Event03 from '../images/works/Desktop_3.png'
import Event01Mobile from '../images/works/Mobile_1.png'
import Event02Mobile from '../images/works/Mobile_2.png'
import Event03Mobile from '../images/works/Mobile_3.png'
---
<div class="w-full xl:w-full h-full mx-auto my-0">
  <div class="h-full w-full">
    <Images
    alt="Event-01"
    frontImage={Front01}
    bg={Event01}
    frontImageMobile={Front01Mobile}
    bgMobile={Event01Mobile}
    />
  </div>
  <div class="h-full w-full">
    <Images
    alt="Event-02"
    frontImage={Front02}
    bg={Event02}
    frontImageMobile={Front02Mobile}
    bgMobile={Event02Mobile}

    />
  </div>
  <div class="h-full w-full">
    <Images
    alt="Event-03"
    frontImage={Front03}
    bg={Event03}
    frontImageMobile={Front03Mobile}
    bgMobile={Event03Mobile}
    />
  </div>
</div>
  